@a "A-0";N
N
/*!N
Aa.a - a://a.a/aN
Aa a a A a - a://a.a/a/AN
N
Aa (a) 0 Aa AaN
*/N
N
.a {N
  -a-a-a: 0a;N
  a-a: 0a;N
  -a-a-a-a: a;N
  a-a-a: a;N
}N
.a-a {N
  -a-a-a: .0a;N
  a-a: .0a;N
  -a-a-a-a: a;N
  a-a-a: a;N
}N
.a-a {N
  -a-a-a: .0a;N
  a-a: .0a;N
  -a-a-a-a: a;N
  a-a-a: a;N
}N
N
.a.a {N
  -a-a-a-a: a;N
  a-a-a: a;N
}N
N
.a.a {N
  -a-a-a: 0a;N
  a-a: 0a;N
}N
N
.a.aAa,N
.a.aAa {N
  -a-a-a: .0a;N
  a-a: .0a;N
}N
N
.a.aAaA,N
.a.aAaA {N
  -a-a-a: .0a;N
  a-a: .0a;N
}N
N
@-a-a a {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0,0,0);N
    a: a0a(0,0,0);N
  }N
N
  0%, 0% {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0,-0a,0);N
    a: a0a(0,-0a,0);N
  }N
}N
N
@a a {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0,0,0);N
    a: a0a(0,0,0);N
  }N
N
  0%, 0% {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0,-0a,0);N
    a: a0a(0,-0a,0);N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
  -a-a-a: a a;N
  a-a: a a;N
}N
N
@-a-a a {N
  a, 0%, a {N
    a: 0;N
  }N
N
  0%, 0% {N
    a: 0;N
  }N
}N
N
@a a {N
  a, 0%, a {N
    a: 0;N
  }N
N
  0%, 0% {N
    a: 0;N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
/* a a a Aa Aa - a://a.a/a/a */N
N
@-a-a a {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a a {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a aAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(.0, 0.0, 0);N
    a: a0a(.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, .0, 0);N
    a: a0a(0.0, .0, 0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0);N
    a: a0a(0.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(.0, 0.0, 0);N
    a: a0a(.0, 0.0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, .0, 0);N
    a: a0a(0.0, .0, 0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a a {N
  a, a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0%, 0%, 0%, 0%, 0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0%, 0%, 0%, 0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
@a a {N
  a, a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0%, 0%, 0%, 0%, 0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0%, 0%, 0%, 0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a a {N
  0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
}N
N
@a a {N
  0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
  }N
}N
N
.a {N
  -a-a-a: a a;N
  a-a: a a;N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a a {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0%, 0% {N
    -a-a: a0a(.0, .0, .0) a0a(0, 0, 0, -0a);N
    a: a0a(.0, .0, .0) a0a(0, 0, 0, -0a);N
  }N
N
  0%, 0%, 0%, 0% {N
    -a-a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, 0a);N
    a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, 0a);N
  }N
N
  0%, 0%, 0% {N
    -a-a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, -0a);N
    a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a a {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  0%, 0% {N
    -a-a: a0a(.0, .0, .0) a0a(0, 0, 0, -0a);N
    a: a0a(.0, .0, .0) a0a(0, 0, 0, -0a);N
  }N
N
  0%, 0%, 0%, 0% {N
    -a-a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, 0a);N
    a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, 0a);N
  }N
N
  0%, 0%, 0% {N
    -a-a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, -0a);N
    a: a0a(0.0, 0.0, 0.0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
/* a a a Aa Aa - a://a.a/a/a */N
N
@-a-a a {N
  a {N
    -a-a: a;N
    a: a;N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a a {N
  a {N
    -a-a: a;N
    a: a;N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  0% {N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
N
  0% {N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a a {N
  a, 0.0%, a {N
    -a-a: a;N
    a: a;N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
}N
N
@a a {N
  a, 0.0%, a {N
    -a-a: a;N
    a: a;N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(0.0a) aA(0.0a);N
    a: aA(0.0a) aA(0.0a);N
  }N
N
  0.0% {N
    -a-a: aA(-0.0a) aA(-0.0a);N
    a: aA(-0.0a) aA(-0.0a);N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a aAa {N
  a, 0%, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAa {N
  a, 0%, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  0% {N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a, 0%, 0%, 0%, a {N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAa {N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
}N
N
@a aAa {N
  0% {N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0.0, 0.0, 0.0);N
    a: a0a(0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  0%, 0% {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAa {N
  a {N
    a: 0;N
    a: a;N
    -a-a: a(0.0);N
    -a-a: a(0.0);N
    a: a(0.0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a(0.0);N
    -a-a: a(0.0);N
    a: a(0.0);N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
    a: a;N
    -a-a: a(0.0);N
    -a-a: a(0.0);N
    a: a(0.0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a(0.0);N
    -a-a: a(0.0);N
    a: a(0.0);N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);*/N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);*/N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);*/N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);*/N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);*/N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);*/N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);*/N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);*/N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: a;N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);*/N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
    a: a;N
    /*-a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);*/N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: a;N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    a: a;N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    a: a;N
  }N
N
  a {N
    a: 0;N
    a: a;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(-0a, 0, 0);N
    a: a0a(-0a, 0, 0);N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0a, 0, 0);N
    a: a0a(0a, 0, 0);N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
}N
N
@a aAaAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0, -0a, 0);N
    a: a0a(0, -0a, 0);N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a a {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(.0, .0, .0);N
    a: a(0a) a0a(.0, .0, .0);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
}N
N
@a a {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(.0, .0, .0);N
    a: a(0a) a0a(.0, .0, .0);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
}N
N
.a.a {N
  -a-a-a: a;N
  a-a: a;N
  -a-a-a: a;N
  a-a: a;N
}N
N
@-a-a aAaA {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
}N
N
@a aAaA {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
}N
N
.aAaA {N
  -a-a-a: a !a;N
  a-a: a !a;N
  -a-a-a: aAaA;N
  a-a: aAaA;N
}N
N
@-a-a aAaA {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
}N
N
@a aAaA {N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    -a-a-a-a: a-a;N
    a-a-a: a-a;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
}N
N
.aAaA {N
  -a-a-a: a !a;N
  a-a: a !a;N
  -a-a-a: aAaA;N
  a-a: aAaA;N
}N
N
@-a-a aAaA {N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
@a aAaA {N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
.aAaA {N
  -a-a-a: aAaA;N
  a-a: aAaA;N
  -a-a-a: a !a;N
  a-a: a !a;N
}N
N
@-a-a aAaA {N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
@a aAaA {N
  a {N
    -a-a: a(0a);N
    a: a(0a);N
  }N
N
  0% {N
    -a-a: a(0a) a0a(0, 0, 0, -0a);N
    a: a(0a) a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a(0a) a0a(0, 0, 0, 0a);N
    a: a(0a) a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
.aAaA {N
  -a-a-a: a !a;N
  a-a: a !a;N
  -a-a-a: aAaA;N
  a-a: aAaA;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0%, 0, 0) aA(-0a);N
    a: a0a(0%, 0, 0) aA(-0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: aA(0a);N
    a: aA(0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: aA(-0a);N
    a: aA(-0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0%, 0, 0) aA(-0a);N
    a: a0a(0%, 0, 0) aA(-0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: aA(0a);N
    a: aA(0a);N
    a: 0;N
  }N
N
  0% {N
    -a-a: aA(-0a);N
    a: aA(-0a);N
    a: 0;N
  }N
N
  a {N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
  -a-a-a-a: a-a;N
  a-a-a: a-a;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    -a-a: a0a(0%, 0, 0) aA(0a);N
    a: a0a(0%, 0, 0) aA(0a);N
    a: 0;N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    -a-a: a0a(0%, 0, 0) aA(0a);N
    a: a0a(0%, 0, 0) aA(0a);N
    a: 0;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
  -a-a-a-a: a-a;N
  a-a-a: a-a;N
}N
N
@-a-a aAa {N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAa {N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a;N
    a: a;N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAa {N
  a {N
    -a-a-a: a;N
    a-a: a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
@a aAa {N
  a {N
    -a-a-a: a;N
    a-a: a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a;N
    a-a: a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, -0a);N
    a: a0a(0, 0, 0, -0a);N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
@a aAaAaAa {N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    a: 0;N
  }N
N
  a {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    a: 0;N
  }N
}N
N
.aAaAaAa {N
  -a-a-a: aAaAaAa;N
  a-a: aAaAaAa;N
}N
N
@-a-a a {N
  0% {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
  }N
N
  0%, 0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
  }N
N
  0%, 0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
    a: 0;N
  }N
N
  a {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
    a: 0;N
  }N
}N
N
@a a {N
  0% {N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
  }N
N
  0%, 0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
  }N
N
  0%, 0% {N
    -a-a: a0a(0, 0, 0, 0a);N
    a: a0a(0, 0, 0, 0a);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a-a;N
    a-a-a: a-a-a;N
    a: 0;N
  }N
N
  a {N
    -a-a: a0a(0, 0a, 0);N
    a: a0a(0, 0a, 0);N
    a: 0;N
  }N
}N
N
.a {N
  -a-a-a: a;N
  a-a: a;N
}N
N
/* a a a Aa Aa - a://a.a/a/a */N
N
@-a-a aAa {N
  a {N
    a: 0;N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
    -a-a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
    a: a0a(-0%, 0, 0) a0a(0, 0, 0, -0a);N
  }N
N
  a {N
    a: 0;N
    -a-a: a;N
    a: a;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
/* a a a Aa Aa - a://a.a/a/a */N
N
@-a-a aAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
    a: a0a(0%, 0, 0) a0a(0, 0, 0, 0a);N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    a: 0;N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  0% {N
    a: 0;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAa {N
  a {N
    a: 0;N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  a {N
    a: 0;N
  }N
}N
N
@a aAa {N
  a {N
    a: 0;N
  }N
N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0);N
    a: a0a(.0, .0, .0);N
  }N
N
  a {N
    a: 0;N
  }N
}N
N
.aAa {N
  -a-a-a: aAa;N
  a-a: aAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a(.0) a0a(-0a, 0, 0);N
    a: a(.0) a0a(-0a, 0, 0);N
    -a-a-a: a a;N
    a-a: a a;N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a(.0) a0a(-0a, 0, 0);N
    a: a(.0) a0a(-0a, 0, 0);N
    -a-a-a: a a;N
    a-a: a a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a(.0) a0a(0a, 0, 0);N
    a: a(.0) a0a(0a, 0, 0);N
    -a-a-a: a a;N
    a-a: a a;N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
    a: a0a(.0, .0, .0) a0a(-0a, 0, 0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a(.0) a0a(0a, 0, 0);N
    a: a(.0) a0a(0a, 0, 0);N
    -a-a-a: a a;N
    a-a: a a;N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
@a aAaAa {N
  0% {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, 0a, 0);N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0.0);N
  }N
N
  a {N
    a: 0;N
    -a-a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    a: a0a(.0, .0, .0) a0a(0, -0a, 0);N
    -a-a-a: a a;N
    a-a: a a;N
    -a-a-a-a: a-a(0.0, 0.0, 0.0, 0);N
    a-a-a: a-a(0.0, 0.0, 0.0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);N
    a: a;N
  }N
N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0, 0%, 0);N
    a: a0a(0, 0%, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(-0%, 0, 0);N
    a: a0a(-0%, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0%, 0, 0);N
    a: a0a(0%, 0, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}N
N
@-a-a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
  }N
}N
N
@a aAaAa {N
  a {N
    -a-a: a0a(0, 0, 0);N
    a: a0a(0, 0, 0);N
  }N
N
  a {N
    a: a;N
    -a-a: a0a(0, -0%, 0);N
    a: a0a(0, -0%, 0);N
  }N
}N
N
.aAaAa {N
  -a-a-a: aAaAa;N
  a-a: aAaAa;N
}