.a { a: #0a0a0; }N
.a { a: #0a0; }N
.a, .a, .a { a: #0a0a0; }N
.a { a: #a0a; }N
.a, .a { a: #A0; }N
.a, .a .a { a: #0a0a; }N
.a, .a, .a, .a { a: a; }N
.a { a: #0a; }N
N
.a {N
  a: 0a;N
  a-a: #a0a0a0;N
  a: 0a a #a0a0a0;N
}N
.a.a {N
  -a-a-a: a 0a 0 0 #a, a 0a 0 0 #a0;N
     -a-a-a: a 0a 0 0 #a, a 0a 0 0 #a0;N
          a-a: a 0a 0 0 #a, a 0a 0 0 #a0;N
}N
N
/* Aa a=a a a a a a a a */N
a.a {N
  a: 0 0 0 0a; /* A a a a-a */N
}N
a.a a {N
  a-a: 0a;N
  a: #a0;N
  a-a: 0a;N
  a-a: 0 0a 0 #a;N
}