.a-a {N
  a-a: a;N
}N
.a-a {N
  -a-a-a: a-a;N
  a-a: a-a;N
}N
.a-a a,N
.a-a a {N
  a: #A;N
}N
.a-a a:a {N
  a: #A;N
  a-a: a;N
}N
.a-a-a {N
  a: a;N
  a: -0.0a;N
  a: -0.0a;N
  a: a;N
  a-a: 0a;N
  a-a: a;N
  a: #A;N
  -a-a-a: 0 0a 0 #a;N
  a-a: 0 0a 0 #a;N
  a: 0.0;N
  -a-a: a:AaAa.Aa.Aa(Aa=0);N
  a: a(a=0);N
  a-a: 0;N
}N
.a-a-a:a,N
.a-a-a:a {N
  a: #0;N
  a-a: a;N
  a: a;N
  a: 0.0;N
  -a-a: a:AaAa.Aa.Aa(Aa=0);N
  a: a(a=0);N
}N
.a .a-a-a {N
  a: -0.0a;N
  a: a;N
  a: 0.0a;N
}N
/*Aa a a a aN
 aA a a a a a a a a a.N
 Aa a a a a a, a a `a="#"`.*/N
a.a-a-a {N
  a: 0;N
  a: a;N
  a: a;N
  a: 0;N
  -a-a: a;N
}N
.a-a-a {N
  a: 0;N
  a: 0;N
  a: 0%;N
}N
.a-a-a {N
  a: 0;N
  a: 0;N
  a: 0%;N
}N
.a-a-a-a {N
  a: 0;N
  a: 0;N
  a: 0%;N
}N
.a-a-a-a {N
  a: 0;N
  a: 0;N
  a: 0%;N
}N
.a-a-a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a {N
  a: 0a;N
  a: 0a;N
}N
#a-a {N
  a: a;N
  a-a: 0;N
  a-a: a;N
  /*a*/N
}N
#a-a * {N
  -a-a-a: a-a;N
  -a-a-a: a-a;N
  a-a: a-a;N
}N
#a-a > a {N
  a: a;N
  a-a: a;N
  a: a;N
  a: 0 0 0a;N
  a: 0a 0a 0a 0a;N
  a: 0a;N
  -a-a-a: 0a 0a 0a 0a;N
  -a-a-a: 0a 0a 0a 0a;N
  a-a: 0a 0a 0a 0a;N
  a-a: 0a a;N
  a-a: a-a;N
  -a-a-a: 0 0 0a #0;N
  -a-a-a: 0 0 0a #0;N
  a-a: 0 0 0a #0;N
  a: #A;N
  a: 0.0;N
  -a-a: a:AaAa.Aa.Aa(Aa=0);N
  a: a(a=0);N
}N
#a-a > a.a {N
  a: a;N
  a: 0a 0a 0a 0a;N
  a-a: a 0a a;N
}N
#a-a > a:a {N
  -a-a-a: 0 0 0a #0;N
  -a-a-a: 0 0 0a #0;N
  a-a: 0 0 0a #0;N
  a: 0;N
  -a-a: a:AaAa.Aa.Aa(Aa=0);N
  a: a(a=0);N
  a: a;N
}N
#a-a > .a-a {N
  a-a: a("a:a/a;a0,aAa0AaAaAaAaAa0A0Aa0a0AaA0Aa0AaAaAaAaA0AaAaAaAaAa0AaAa0aAaAaAaAaAaAaAaAa0aAaAaAaA0AaAaAaAaAaAa0A0Aa0AaAaA0/0+a0aAaAaAaA0aAa0aA+a0aAaAa0aAaAaAaAaAaA0AaA0Aa0AaAaAaA0aA0aAaA0Aa0AaAaAaAaA0aA0aAaA0aAaAaAa0AaA0a0A0a0AaAaAaAaA0Aa0aAaAaAa0aAaA+a0AaA+Aa+A0A0A0AaAaAaAa0AaAaA0aAaAaA0AaA0Aa0a0aAaA+Aa0Aa0a0A0a+a+aA0AaA0AaAa0A0Aa+A0aAaA0AaAaAaA0a0A0aAaA0A0Aa0a0AaAaAaAaAaA+aAaAaAa0aA0Aa0AaAa0Aa0aA0Aa0a/aAaAaAaAaA+0A+aAaAa0AaAaAaA0A=") !a;N
}N
#a-a > .a-a {N
  a-a: a("a:a/a;a0,aAa0AaAaAaAaAa0A0Aa0a0AaA0Aa0AaAaAaAaA0AaAaAaAa/AaAa0AaAaA+AaA0AaAaAaAaAaA+aAaAa0AaAaA/A0AaAaAaAa0/aA0A0a0a+A0Aa0a0aA0aA0aAaAaAaA0AaAaAaAa0+0aA0AaAaAa0A0AaAaA0aAaAa0aAaAaA0Aa0aAa0+A0A0aAaA0a/0aAaA0aA0Aa0+aAaAa+aAa0+A+AaA0aAaAaAaAaAaAa0Aa0a0aAa/aA+aAaAaAaAaA0aAaAa0A0AaAaAaA0AaAaAaAaAaAaAaAaAaAaAa0A0aAaAa0A0Aa0aAaA0AaA0A0AaAaA+aAa0aAaAaAaA0aAaAaAaA0AaA0aAa0a0AaA0aAaA0aAa0AaAa0aAaAa0aA0a0a/A/A0aAaAaAaA0aAaAa0aA0A0A0A0AaAaAa0a/AaAa+A/a0A/aA0A0A0Aa0AaA0A=") !a;N
}N
#a-a > .a-a {N
  a-a: a("a:a/a;a0,aAa0AaAaAaAaAa0A0Aa0a0AaA0Aa0AaAaAaAaA0AaAaAaA0AaAa///0A0+/aAaA/AaA+AaAaAaA0A0AaAaAa0AaAaA0AaA0aAaAa0AaAaAaA0Aa0A0AaA0aAaAa/AaAaAaAaAaAaA0aAa0Aa0AaA0AaAaA+a+A0A0A0aAaAaA0a0A0AaA0AaAaAaA/aA0A0AaAaAa0aAaA0a0AaA0aAaAaAaAa0AaAa0aA0AaAa==") !a;N
}N
#a-a > .a-a {N
  a-a: a("a:a/a;a0,aAa0AaAaAaAaAa0A0Aa0a0AaA0Aa0AaAaAaAaA0AaAaA0AaAaAaAaAaAaA0AaA0AaAaAaAaAaAaAaAa+0aAa0aAa0A0+aAa0a0/a/0aA0aA/Aa0aA0aAaAaA0aA+A0A0A0aA0aAaAaAaAaA0Aa0aA0A0aA0a0aAaAaAa0A0aAaA0aAaA0a0A0AaAaAaAa0a0aAa0A0AaA+A/a0AaAaAa0AaAa0aAa0aA0a0AaAaAaA0AaA0A0Aa0a0aAa0Aa0aAa0A0A0aA0aAaA0AaA+AaAaAa0aA+aAaA0A0aAaA/0AaA0AaA0A0aAaAaA0A0AaA0AaA0+0aA0A0Aa0a0A+aAaAa0aAaAaA0AaAaA0AaAaA0A0a+A0aAaAaAaAa0/aAaAa0A0a0aA0A=") !a;N
}N
#a-a.a-a-a > a,N
#a-a.a-a-a > a {N
  a: 0a;N
  a-a: a;N
  a-a: a;N
}N
#a-a.a-a-a-a > a,N
#a-a.a-a-a-a > a {N
  a: 0%;N
  a-a: a;N
  a-a: a;N
}N
.a {N
  a-a: #0;N
}N
.a-a {N
  a-a: #0A0;N
}N
.a-a {N
  a-a: #A0A;N
}N
.a-a {N
  a-a: #0A0A0;N
}N
.a-a {N
  a-a: #A0;N
}N
.a-a {N
  a: a;N
  a: 0;N
  a: 0;N
  a: 0a;N
  a-a: #0;N
  a: 0.0;N
  -a-a: a:AaAa.Aa.Aa(Aa=0);N
  a: a(a=0);N
}N
/*Aa Aa*/N
@a a a (a-a: 0a) {N
  #a-a > a {N
    a: 0a 0a 0a 0a;N
    a: 0a;N
  }N
  #a-a > a.a {N
    a: 0a 0a 0a 0a;N
  }N
  #a-a .a-a-a {N
    a: -0.0a;N
    a: -0.0a;N
  }N
  #a-a .a .a-a-a {N
    a: -0.0a;N
    a: 0.0a;N
  }N
}N
@a a a (a-a: 0a) a (a-a: 0a) {N
  #a-a > a {N
    a: 0a 0a 0a 0a;N
    a: 0a;N
  }N
  #a-a > a.a {N
    a: 0a 0a 0a 0a;N
  }N
  #a-a .a-a-a {N
    a: -0.0a;N
    a: -0.0a;N
  }N
  #a-a .a .a-a-a {N
    a: -0.0a;N
    a: 0.0a;N
  }N
}N
@a a a (a-a: 0a) a (a-a: 0a) {N
  #a-a > a {N
    a: 0a 0a 0a 0a;N
    a: 0a;N
  }N
  #a-a > a.a {N
    a: 0a 0a 0a 0a;N
  }N
}N
