.a-a {N
  a: 0a;N
  a: 0a;N
  a: a;N
}N
N
a {N
  a: 0a;N
}N
N
a.a-a-a {N
  a: 0a;N
  a-a: 0a;N
}N
N
a.a-a-a, a.a-a-a {N
  a-a: 0a;N
}N
N
.a-a-a:a-a {N
  a-a: 0a a #a0a0a0;N
}N
N
.a-a-a:a-a {N
  a-a: 0a a #a0a0a0;N
}N
