/*!N
 * Aa Aa a0.0.0 (a://a.a.a/a-a/)N
 * Aa 0 Aa Aa <@AaAa>N
 * Aa a AN
 */N
.a-a-a,N
.a-a-a > a {N
a: a;N
-a-a-a: a-a;N
   -a-a-a: a-a;N
        a-a: a-a;N
}N
.a-a-a {N
  a: a;N
  a-a: 0;N
  a: #a;N
}N
.a-a-a.a-a {N
  a: #0;N
}N
.a-a-a > a {N
  a: a-a;N
  a: a;N
  a-a: aAa;N
  a: 0 a aAa;N
}N
.a-a-a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a > a {N
  a: 0a;N
  a: 0a;N
  a: 0a;N
  a-a: 0%;N
  a: 0;N
  -a-a: a-a 0a a-a-a a;N
     -a-a: a-a 0a a-a-a a;N
       -a-a: a-a 0a a-a-a a;N
          a: a-a 0a a-a-a a;N
}N
.a-a-a > a:a-a(0) {N
  -a-a-a: -0a;N
     -a-a-a: -0a;N
       -a-a-a: -0a;N
          a-a: -0a;N
}N
.a-a-a > a:a-a(0) {N
  -a-a-a: -0a;N
     -a-a-a: -0a;N
       -a-a-a: -0a;N
          a-a: -0a;N
}N
.a-a-a > a:a-a(0) {N
  -a-a-a: 0a;N
     -a-a-a: 0a;N
       -a-a-a: 0a;N
          a-a: 0a;N
}N
.a-a-a.a-a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a.a-a > a {N
  a: 0a;N
  a: 0a;N
  a: 0a;N
}N
.a-a-a.a-0a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a.a-0a > a {N
  a: 0a;N
  a: 0a;N
  a: 0a;N
}N
.a-a-a.a-0a {N
  a: 0a;N
  a: 0a;N
}N
.a-a-a.a-0a > a {N
  a: 0a;N
  a: 0a;N
  a: 0a;N
}N
/*N
 * AaN
 */N
@-a-a a-a {N
  0% {N
    a: 0;N
    -a-a: aA(-0%);N
            a: aA(-0%);N
  }N
  0% {N
      a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
            a: aA(0);N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
            a: aA(0);N
  }N
  0% {N
      a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0%);N
            a: aA(0%);N
  }N
}N
@-a-a a-a {N
  0% {N
    a: 0;N
    -a-a: aA(-0%);N
         a: aA(-0%);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
         a: aA(0);N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
         a: aA(0);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0%);N
         a: aA(0%);N
  }N
}N
@-a-a a-a {N
  0% {N
    a: 0;N
    -a-a: aA(-0%);N
       a: aA(-0%);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
       a: aA(0);N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
       a: aA(0);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0%);N
       a: aA(0%);N
  }N
}N
@a a-a {N
  0% {N
    a: 0;N
    -a-a: aA(-0%);N
       -a-a: aA(-0%);N
         -a-a: aA(-0%);N
            a: aA(-0%);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
       -a-a: aA(0);N
         -a-a: aA(0);N
            a: aA(0);N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0);N
       -a-a: aA(0);N
         -a-a: aA(0);N
            a: aA(0);N
  }N
  0% {N
    a: .0;N
  }N
  0% {N
    a: 0;N
    -a-a: aA(0%);N
       -a-a: aA(0%);N
         -a-a: aA(0%);N
            a: aA(0%);N
  }N
}N
