/* Aa Aa 0 a a a a a a a a */N
/* Aa a a a a. */N
/* Aa a a a a a a-a.a.a a Aa */N
N
/* Aa a */N
.a-a .a-a.a-a .a-a.a-a {N
  -a-a: a(0a)\0;N
}N
.a-a .a-a.a-a .a-a.a-a {N
  -a-a: a(-0a)\0;N
}N
N
N
/* Aa a */N
.a-a .a-a.a-a {N
  a-a: a\0;N
}N
.a-a .a-a.a-a .a-a.a-a {N
  -a-a: a(0a)\0;N
}N
.a-a .a-a.a-a .a-a.a-a {N
  -a-a: a(-0a)\0;N
}