.a-a{N
    a-a: 0a;N
    a: a;N
    a-a: a;N
    a-a: a;N
N
}N
N
.a{N
    a-a: a;N
    a-a: 0a;N
    a: a;N
    a-a: a;N
    a-a: a;N
}N
.a{N
    a-a: 0%;N
    a-a: 0%;N
    a: a;N
    a-a: 0a;N
}N
.a{N
    a:a;N
    a-a: a;N
    a-a: a;N
N
}N
N
.a a {N
    a: 0a;N
}N
.a{N
    a-a: 0a;N
    a: a;N
    a: 0a;N
    a: 0a;N
    a: a;N
    a: 0a a a;N
}N
.a{N
    a: 0a;N
    a: 0a;N
    a: a;N
    a: 0.0a a a;N
}N
