.AaAa{N
        a:0%;N
        a-a: 0a;N
        a-a: 0a;N
        a:0a;N
        a:a;N
        a:0%;N
        a:0%;N
        a:-0a 0 0 -0a;N
        a:0a a #0a0;N
        a: #a0a0;N
    }N
a, a{N
  a: 0%;N
  a: a;N
  a: 0a;N
  a-a: 0%;N
}N
a{N
  a: a;N
  a: 0a 0 0 0%;N
  a: 0a 0a;N
  a: 0a a #0a0;N
  a: #a;N
}N
a:a{N
a: #0a0;N
a: #a;N
}N
.a_a_a_a{N
  a: 0a 0 0 0%;N
}N
