/*N
    A Aa aN
*/N
N
@a a(a.a);N
N
a {N
    a: 0;N
    a: 0;N
    a-a: 0a;N
    a-a: "Aa","Aa Aa","AaAa Aa","Aa Aa Aa",Aa,Aa,a-a;N
    a: #0;N
    a: #a;N
}N
N
/* A */N
N
a:a, a:a {N
    a: #0a0a;N
    a-a: a;N
}N
N
a:a, a:a {N
    a: #0;N
}N
N
a:a {N
    a-a: a;N
}N
N
a a {N
    a: a;N
}N
N
a.a:a, a.a:a {N
    a: #a;N
    a-a: a;N
}N
N
a.a:a, a.a:a {N
    a-a: a;N
}N
N
/* A A */N
N
a, a, a, a {N
    a: .0a 0 .0a 0;N
}N
N
a {N
    a: 0;N
    a-a: 0%;N
}N
N
a0,a0,a0,a0,a0 {N
    a-a: a;N
}N
N
a0 {N
    a: 0 0 0a;N
    a-a: 0;N
    a-a: 0a;N
    a: #0;N
}N
N
a0 {N
    a-a: 0a;N
    a: 0a 0 .0a 0;N
}N
N
a0.a {N
    a-a: a;N
    a-a: 0;N
}N
N
a0 {N
    a-a: 0a;N
    a: .0a 0 .0a 0;N
    a: #0;N
    a-a: a;N
}N
N
a0 {N
    a-a: 0a;N
    a: 0a 0 .0a 0;N
    a-a: 0a;N
}N
N
a0 {N
    a-a: 0a;N
    a: 0.0a 0 .0a 0;N
    a: #0;N
    a-a: a;N
    a-a: 0a;N
}N
N
a a {N
    a-a-a: a;N
    a: 0a 0;N
}N
N
a a {N
    a-a: 0;N
}N
N
a, a, a {N
    a-a: 0a;N
    a-a: 0a;N
}N
N
a {N
    a-a: a;N
    a-a: 0a;N
}N
N
a {N
    a-a: 0;N
}N
N
a {N
    a: 0;N
    a: 0;N
}N
N
a {N
    a: 0;N
    a: 0;N
    a: a;N
    a-a: 0a a #a;N
}N
N
a {N
    a-a: 0a;N
    a: #0;N
    a-a: 0a;N
    a-a: 0a;N
    a-a: 0a a #a;N
}N
N
a, a {N
    a-a: "Aa Aa Aa Aa", Aa, "Aa Aa", Aa, a;N
    a: #0;N
    a-a: 0a;N
}N
N
a.a-a {N
    a: 0a;N
    a: #a;N
    a: 0a 0a;N
}N
N
a a {N
    a: #0;N
}N
N
a {N
    a: a;N
    a: #a;N
    a-a: #a;N
    a: 0a;N
    a: a;N
    a: 0;N
    a: 0;N
    a-a: 0a;N
    a-a: 0a;N
}N
N
/* A A & A */N
N
.a {N
    a-a: 0a;N
}N
N
.a {N
    a-a: 0a;N
}N
N
a.a {N
    a-a: -0a;N
}N
N
.a {N
    a-a: 0a;N
}N
N
a.a {N
    a-a: -0a;N
}N
N
.a, a.a, a a.a, a.a, a a.a, a.a a {N
    a-a: 0a;N
    a: #0;N
}N
N
a.a a {N
     a-a: 0;N
}N
N
.a-a {N
    a: a;N
}N
N
a a, a0 a, a0 a, a0 a, a0 a, a a {N
    a-a: a;N
}N
N
.a, a.a:a, a.a:a {N
    a: #0;N
    a-a: a;N
}N
N
.a-a {N
    a: a;N
}N
N
.a-a {N
    a: a;N
}N
N
.a {N
    a: a;N
}N
N
.a-a {N
    a-a: a;N
}N
N
.a-a {N
    a-a: a;N
}N
N
.a {N
    a: 0a 0;N
    a: 0a 0a;N
    a: #a;N
}N
N
.a {N
    a-a: a;N
}N
N
/* A */N
N
a {N
    a-a: a;N
    a-a: #a;N
}N
N
a, a {N
    a-a: 0a;N
    a-a: 0a;N
    a-a: 0a a #a;N
    a-a: a;N
    a: 0a;N
    a-a: "Aa", "Aa Aa", Aa, Aa, a-a;N
}N
N
a {N
    a-a: 0;N
    a-a: a;N
}N
N
a a,N
a a {N
    a: #0;N
    a: 0a 0a;N
    a-a: 0a;N
    a: #a;N
    a: a;N
    a-a: 0a a #a;N
    a-a: 0a a #a;N
}N
N
a a {N
    a-a: a;N
    a-a: 0a a #a;N
}N
N
a a.a {N
    a: #0;N
}N
N
a.a {N
    a: #a0a0a0;N
}N
N
.a0 {N
    a: #a;N
}N
N
.a0 {N
    a: #a0a0a0;N
}N
N
/* A A */N
N
a a {N
    a: 0a 0a;N
    a-a: a;N
    a-a: a;N
    a: #a0a0a0;N
}N
N
a a a:a, a a a:a {N
    a: #0;N
}N
N
a a.a {N
    a: #a;N
}N
N
a a.a .a {N
    a-a: 0a;N
}N
N
a a a .a a {N
    a: 0a 0a;N
    a: a;N
}N
N
a a a .a a {N
    a: a;N
    a: a;N
    a: 0a 0a;N
}N
N
a a a .a a:a, a a a .a a:a {N
    a: #a;N
}N
N
a a.a a.a {N
    a: a;N
}N
N
a a a.a:a a.a {N
    a: a;N
}N
N
a a a.a .a {N
    a: a;N
    a: 0a 0a 0 0a;N
    a: a;N
    a-a: a;N
}N
N
a a a.a .a {N
    a-a: .0a;N
    a-a: 0a;N
    a-a: a;N
    a-a: 0a;N
    a-a: 0a;N
    a-a: 0a;N
}N
N
a a a.a .a a {N
    a: a;N
    a: 0a;N
    a: 0a;N
    a: a-a;N
    a: a(../a/a-a.a) 0 0 a-a;N
    a-a: 0a a;N
}N
N
a a a.a .a a.a {N
    a-a: 0 0;N
}N
N
a a a.a .a a.a:a {N
    a: '\\';N
    a: a;N
    a: -0a;N
    a: 0a;N
    a-a: 0;N
    a-a: 0a;N
    a: #0;N
}N
N
a a a.a .a a.a:a:a,N
a a a.a .a a.a:a:a {N
    a: #0a0a;N
}N
N
a a a.a .a a.a:a,N
a a a.a .a a.a:a {N
    a-a: 0 -0a;N
}N
N
a a a.a .a a.a {N
    a-a: 0 -0a;N
}N
N
a a a.a .a a.a:a,N
a a a.a .a a.a:a {N
    a-a: 0 -0a;N
}N
N
a a a.a .a a.a {N
    a: 0a;N
    a-a: 0 -0a;N
}N
N
a a a.a .a a.a:a,N
a a a.a .a a.a:a {N
    a-a: 0 -0a;N
}N
N
/* A A */N
N
a, a, a, .a-a a, a .a {N
    a: 0a 0;N
    a: 0a 0a;N
    a-a: a;N
    a-a: "Aa", "Aa Aa", Aa, Aa, a-a;N
    a-a: a;N
    a-a: 0a;N
}N
.a-a a.a {N
    a: 0a 0a;N
}N
N
a {N
    a-a: a;N
}N
N
a[a=a], a[a=a], a[a=a], a[a=a],N
a[a=a], a[a=a], a, a, .aAaAa {N
    a: 0a a #a;N
    a-a: 0a;N
    a: 0a 0a;N
    a-a: 0;N
}N
N
a[a=a]:a, a[a=a]:a, a[a=a]:a,N
a[a=a]:a, a[a=a]:a, a[a=a]:a,N
a:a, a:a, .aAaAa:a {N
    a-a: #0;N
}N
N
a {N
    a: 0a;N
}N
N
a[a] {N
    /* Aa A a a a a a a a a a a. */N
    a: a;N
    a-a: 0a;N
}N
N
/* A A */N
N
.a, a[a=a], a[a=a], .a-a a, a.a {N
    a: #0a0;N
    a: 0a 0a;N
    a: a;N
    a-a: 0a;N
    a: #a;N
    a: a;N
}N
N
a.a {N
    a: 0a 0a;N
}N
N
.a:a, a[a=a]:a, a[a=a]:a,N
.a:a, a[a=a]:a, a[a=a]:a,N
.a:a, a[a=a]:a, a[a=a]:a {N
    a: #0a0;N
}N
N
.a[a], a[a=a][a], a[a=a][a] {N
    a: 0.0;N
}N
N
.a.a, a[a=a].a, .a-a a.a {N
    a: a;N
    a: a;N
    a-a: 0;N
    a: #0;N
}N
N
.a.a:a, a[a=a].a:a,N
.a.a:a, a[a=a].a:a,N
.a.a:a, a[a=a].a:a {N
    a: #0;N
}N
N
.a[a].a,N
a[a=a][a].a,N
a[a=a][a].a {N
    a: 0.0;N
}N
N
N
/* A */N
N
.a {N
    a: a;N
    a-a: 0a;N
    a: #a;N
}N
N
.a a, .a a, .a a0, .a a0, .a a, .a a {N
    a-a: 0a;N
    a-a: 0a;N
}N
N
.a a {N
    a-a: 0a;N
}N
N
.a a, .a a {N
    a-a: 0.0a;N
}N
N
.a a0 {N
    a-a: .0a;N
}N
N
.a a0, .a a, .a-a a0 {N
    a: 0;N
    a: 0a;N
    a-a: 0;N
    a-a: 0a;N
    a-a: a;N
    a: #0a0;N
    a: #a;N
}N
N
.a a,N
.a-a a0 {N
    a-a: 0a;N
    a-a: 0.0a;N
    a-a: a;N
}N
N
.a a {N
    a-a: a;N
}N
N
/* A & A */N
N
a.a {N
    a: 0;N
    a: 0;N
}N
N
a.a a {N
    a: a;N
    a-a: 0;N
    a-a: 0a;N
    a: 0a 0a 0a 0a;N
    a: 0 0 0a 0;N
    a: #a a(../a/a-a.a) 0a 0a a-a;N
    a-a: 0a a;N
    a: #0;N
}N
N
a.a a.a {N
    a: #a a(../a/a-a.a) 0a 0a a-a;N
    a-a: 0a a;N
}N
N
a.a a.a {N
    a: #a a(../a/a-a.a) 0a 0a a-a;N
    a-a: 0a a;N
}N
N
.a {N
    a-a: 0a;N
    a-a: 0;N
    a: a;N
    a: 0a 0a;N
    a: 0 0 0a 0;N
    a: #a0;N
    a: 0a a #a0;N
    a-a: 0a;N
    a-a: #a;N
    a-a: 0a 0a;N
}N
N
a.a {N
    a: 0 0 0a;N
    a: 0;N
    a: #a0;N
    a: #a;N
}N
N
a.a a {N
    a-a: 0a;N
    a: a;N
    a-a: 0a;N
}N
N
a.a a:a-a {N
    a-a: 0;N
}N
N
a.a a a {N
    a: a;N
    a-a: a;N
}N
N
a a.a {N
    a: 0;N
    a: 0;N
}N
N
a a.a a {N
    a: 0;N
}N
N
.a-a.a {N
    a: 0;N
    a: a;N
    a-a: 0a a #a;N
    a: a;N
}N
N
.a-a.a a.a a {N
    a-a: 0;N
}N
N
.a a, .a a, .a a {N
    a: 0a a #a0;N
}N
N
a.a-a {N
    a: #a;N
    a: 0a;N
    a: 0a 0a;N
    a-a: .0a;N
}N
N
a.a-a a.a-a-a {N
    a: 0a 0a 0a 0a;N
    a: 0;N
    a: #a0;N
    a: #a a(../a/a-a.a) 0a 0a a-a;N
}N
N
.a {N
    a-a: 0a;N
    a: 0a 0 0 0a;N
}N
N
/* A */N
N
a.a {N
    a: #0a0;N
    a: 0a 0a;N
    a: a;N
    a-a: 0a;N
    a: #a0a0;N
    a-a: a;N
}N
N
a.a a {N
    a: #a;N
}N
N
a.a a:a, a.a a:a {N
    a: #a0a0;N
}N
N
/* A A */N
N
.a, .a {N
    a-a: 0a;N
    a: a(../a/a-a.a) 0 0a a-a;N
}N
N
.a {N
    a-a: 0a;N
    a: a(../a/a-a.a) 0 0a a-a;N
}N
N
.a, .a {N
    a-a: 0a;N
    a: a(../a/a-a.a) 0 0a a-a;N
}N
N
.a {N
    a-a: 0a;N
    a: a(../a/a-a.a) 0 0a a-a;N
}N
N
a.a:a, a.a:a {N
    a: #A0;N
}N
N
a.a:a, a.a:a {N
    a: #0;N
    a-a: a;N
}N
N
/* A A */N
N
.a-a {N
    a-a: 0a;N
    a-a: a;N
    a-a: 0;N
    a: a;N
    a: a;N
    a-a: -0a;N
}N
N
.a-a .a-a {N
    a-a: 0a;N
    a-a: 0a;N
    a: a;N
    a: 0a;N
    a-a: 0.0a;N
}N
N
.a-a a {N
    a: a;N
    a: a;N
    a-a: 0a;N
    a: 0a;N
}N
N
.a-a a {N
    a-a: 0a;N
}N
N
.a-a a:a, .a-a a:a {N
    a: a;N
    a: a;N
    a: 0a 0a;N
    a: #0;N
    a-a: 0;N
    a-a: 0a;N
    a-a: a;N
    a-a: 0.0a;N
    a: #a;N
}N
N
.a-a a:a, .a-a a:a {N
    a-a: #0;N
}N
N
.a-a a:a{N
    a-a: a;N
}N
N
.a-a a.a, .a-a a.a,.a-a a.a {N
    a-a: a-a;N
    a-a: a 0a a;N
    a-a: 0a;N
}N
N
.a-a a.a, .a-a a.a {N
    a-a: a(../a/a-a.a);N
}N
N
.a-a a.a {N
    a-a: a(../a/a-a.a);N
}N
N
/* A A */N
N
a#a-a {N
    a: 0%;N
}N
N
a#a-a a a {N
    a: 0a;N
}N
N
/* A A */N
N
#a {N
    a: a;N
    a: 0%;N
    a-a: 0a;N
    a: 0;N
}N
N
#a {N
    a: 0a 0a;N
}N
N
.a #a {N
    a: 0a;N
}N
N
#a-a {N
    a: a;N
    a: 0%;N
}N
N
#a-a {N
    a: a;N
    a: 0a;N
    a: a;N
    a-a: -0a;N
}N
N
#a {N
    a: a;N
    a: 0a;N
}N
N
/* A A */N
N
.aA {N
    a-a: 0a;N
}N
N
.aA {N
    a-a: 0a;N
}N
N
.aA #a-a {N
    a: a;N
    a-a: 0;N
    a-a: -0a;N
}N
N
.aA #a-a {N
    a: a;N
}N
N
.a .aA {N
    a: a;N
}N
N
/* A */N
N
#a {N
    a: a;N
    a: a;N
    a: a;N
    a-a: a-a;N
    a-a: a;N
    a: 0a 0a;N
    a: #0;N
    a: #a;N
    a: a;N
}N
N
#a a:a, #a a:a {N
    a: #a;N
}N
N
#a a:a , #a a:a {N
    a-a: a;N
}N
N
#a {N
    a: a;N
}N
N
#a a0 {N
    a: 0;N
    a: 0 0a 0 0;N
    a-a: 0;N
    a-a: 0a;N
    a: #a0a0a;N
}N
N
#a a0, #a a0 a:a, #a a0 a:a {N
    a: #a0a0a;N
}N
N
#a a0 {N
    a: 0 0a;N
    a-a: 0a;N
    a: -0a 0 0a 0;N
    a-a: a;N
    a: #a;N
}N
N
#a a:a {N
    a-a: a;N
}N
N
#a-a {N
    a: a;N
    a: 0;N
    a: 0 0 0 0a;N
    a-a: 0;N
    a-a: 0a;N
    a-a: 0.0a;N
    a-a: a;N
    a-a: a;N
}N
N
#a-a a {N
    a-a: 0a a a(0, 0, 0, 0.0);N
}N
N
#a-a a:a, #a-a a:a {N
    a-a: a;N
    a-a-a: #0a0;N
    a: #0a0;N
}N
N
/* A */N
N
#a-a {N
    a: #a0a0a0;N
}N
N
#a-a .a {N
    a: a;N
}N
N
#a-a a0 {N
    a-a: 0a;N
    a: #0;N
    a: 0 0a;N
    a: 0 0 0a;N
}N
N
#a-a a0 {N
    a-a: 0a;N
}N
N
#a-a a {N
    a-a: 0a;N
    a-a: 0a;N
}N
N
#a-a .a {N
    a: 0;N
    a: 0a;N
}N
N
#a-a .a a {N
    a-a: 0.0;N
    a-a: 0a;N
    a-a: 0a;N
}N
N
#a-a .a a0 {N
    a: a;N
    a: 0a;N
    a-a: 0a;N
    a-a: 0a a #a;N
    a-a: 0a;N
    a: #0;N
}N
N
.a-a a a[a="a"] {N
    a: #a0;N
    a-a: 0a;N
    a: 0a 0a;N
    a: #a;N
}N
N
.a-a a a[a="a"]:a,N
.a-a a a[a="a"]:a,N
.a-a a a[a="a"]:a {N
    a: #a0;N
}N
N
.a-a a .a-a {N
    a: a-a;N
    a-a: a;N
    a: 0a;N
    a-a: 0a;N
    a: #a;N
    a-a: 0a;N
    a: 0a 0a;N
    a: #0;N
    a: 0 0 0 0a;N
}N
N
.a-a a .a-a:a,N
.a-a a .a-a:a,N
.a-a a .a-a:a {N
    a: #a;N
}N
N
/* A */N
.a #a {N
    a: 0a;N
}N
N
.a #a {N
    a-a: 0;N
}N
N
.a #a {N
    a: 0a 0a;N
}N
