/*N
N
Aa AaAa AaN
Aa (a) 0-0 Aa Aa A, Aa.  Aa a a.N
N
*/N
/* Aa a a a a aAa AaAa a. */N
N
a.a>a.a__a{N
    a-a:a-a;N
    a-a:a("../a/a.a") !a;N
    a-a: a;N
}N
N
a.a__a,N
*[a] *[a='a'] a.a__a,N
*[a] *[a] *[a='a'] a.a__a,N
*[a] *[a] *[a] *[a='a'] a.a__a,N
*[a] *[a] *[a] *[a] *[a='a'] a.a__a{N
    a:0a 0a 0a 0a;N
    a-a:a;N
}N
N
a.a__a[a='a'],N
*[a] *[a='a'] a.a__a,N
*[a] *[a] *[a='a'] a.a__a,N
*[a] *[a] *[a] *[a='a'] a.a__a,N
*[a] *[a] *[a] *[a] *[a='a'] a.a__a{N
    a:0a 0a 0a 0a;N
    a-a:a;N
}N
N
N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
a.a>a.a__a,N
a.a>a.a__a,N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
a.a>a.a__a{N
    a-a:a("../a/a.a") !a;N
}N
N
/*N
 * Aa a a/a a-a.N
 */N
a {N
  a: 0.0a;N
  a-a: #A;N
  a: a;N
  a-a: 0a;N
  a: .0a 0 .0a .0a;N
} N
N
N
/*  A A  A-0  - a a a A a a a a. */N
.a, .a { a-a: a; }N
N
N
/* A A A - A-0 - Aa a a a a a a a. */N
a.a > a {N
  a-a: 0a;N
}N
/* A A A - A-0 */N
N
/* A A A A-0 - Aa a a. */N
a.a a.a {N
  a:a;N
  a-a:a;N
  a-a:a;N
  a:0a 0a 0a 0a;N
}N
N
a.a a.a {N
  a:a;N
  a-a:a;N
  a-a:a;N
  a:0a 0a 0a 0a;N
}N
N
a.a a.a {N
  a:a;N
  a-a:a;N
  a-a:a;N
  a:0a 0a 0a 0a;N
}N
N
a.a a.a {N
  a:a;N
  a-a:a;N
  a-a:a;N
  a:0a 0a 0a 0a;N
}N
N
a.a a {N
  a-a: 0a;N
  a-a: 0a;N
  a-a: 0a;N
}N
/* A A A A-0 */N
N
.a {N
    a-a:a; 	 N
}N
.a {a-a:0.0a;}N
.a {a:a;}N
.a {a:a;}N
.a { N
    a-a: #A0;N
    a: #0;N
}N
N
@a a{N
    .a, .a {N
        a:a;N
    }N
}N
N
@a a {N
    .a, .a {N
        a-a: a;N
    }N
}N
N
N
a.a_a{a:a; a:0a; a:0a 0 0 0;}N
a.a_a {a:#0; a-a:0.0a;}N
.a {N
  a:a;N
  a:0a;N
  a:0a;N
  a:0a;N
  a:-0a 0 0 0;N
  a:a("../a/a.a") a-a 0 0a;N
  a:a;N
  a:0;N
}N
N
a.a a{  a:0; a:0a; a:0a;a:a;a:a;a-a-a:a;}N
a.a a a{ a-a:a; a:a; a:a; a:0; a:0;}N
a.a a a:a, a.a a a.a_a {N
    a-a:a;N
    a:a("../a/a.a") a-a 0 0;N
    a:0a;N
}N
a {a:0a 0 0 0;}N
a.a-a{a:0a 0 0 0; a:0a; a:0a; a:0a a #a;}N
N
a#a0 { a:0a; a-a:0;  }N
a#a0 { a:0a; a-a:0; }N
a#a0 { a:0a; a-a:0; }N
a#a0 { a:0a; a-a:0; }N
a#a0 { a:0a; a-a:0; }N
N
a#a_a {a:a; a:0a 0 0 0;}N
a.a_a {a:-0a 0 0 0; }N
N
/* Aa a a A a. Aa A a a a a a. */N
.a a,N
.a a {N
	a-a: a;N
}N
N
N
N
/*N
 * ------------------------------------------------------------------N
 *  N
 * Aa aN
 * N
 */N
.a_a_a .a-a:a{N
    a:a;N
}N
N
.a {N
    /* A-0: Aa a a a a a a a a a a a a a. */N
    a:a;N
}N
N
/*N
 * Aa a & aN
 */N
.a0 {N
    a-a: 0a;N
    a-a: 0a;N
    a-a: 0;N
}N
N
.a0 {N
    a: 0.0a 0 .0a 0;N
    a-a: 0.0a;N
    a-a: 0;N
}N
N
.a0 {N
    a: 0.0a 0 .0a 0;N
    a-a: 0.0a;N
    a-a: 0;N
}N
N
.a0 {N
    a: 0.0a 0 .0a 0;N
    a-a: 0.0a;N
    a-a: 0;N
}N
N
.a0, .a0 {N
    a: 0.0a 0 .0a 0;N
    a-a: 0a;N
    a-a: 0;N
    a-a: a;N
    a-a: a;N
}N
N
@a a {N
    .a0,N
    .a0,N
    .a0,N
    .a0,N
    .a0,N
    .a0 {N
        a-a: a-a;N
        a-a: a-a;N
        a-a: a-a;N
    }N
}N
N
.a_a_a .a,N
.a_a_a .a,N
.a_a_a a {N
    a-a: a;N
    a: 0;N
    a: 0;N
}N
N
.a_a_a a {N
    a-a: a;N
}N
N
