/* Aa a a a a, a a a a a a a a a a */N
.a {N
  a: 0a;N
  a: 0a;N
  a: a;N
  a: -0a;N
  a: -0a;N
  a-a: 0;N
  -a-a: a(0);N
  -a-a: a(0);N
  -a-a: a(0);N
  -a-a: a(0);N
  a: a(0);N
  a: 0;N
  -a-a: a 0a a 0a;N
  -a-a: a 0a a 0a;N
  a: a 0a a 0a;N
}N
N
.a.a-a {N
  -a-a: a(.0);N
  -a-a: a(.0);N
  -a-a: a(.0);N
  -a-a: a(.0);N
  a: a(.0);N
  a: 0;N
}N
N
.a .a-a {N
  a: 0a;N
  a: 0a;N
  a-a: 0a;N
  a: #a0a;N
  a: a;N
  a: 0;N
  a-a: 0;N
  -a-a: a-a 0a a;N
  -a-a: a-a 0a a;N
  -a-a: a-a 0a a;N
  -a-a: a-a 0a a;N
  a: a-a 0a a;N
}N
N
.a .a-a {N
  a: a;N
  a: a;N
  a: 0%;N
  a: 0;N
  a-a: 0;N
  a-a: -0a;N
  a: 0a;N
  a: 0a;N
  a: a(0, 0, 0, .0);N
  a-a: 0 0 0a 0a a(0, 0, 0, .0);N
  a-a: 0a / 0a;N
  -a-a: aA(.0) !a;N
  -a-a: aA(.0) !a;N
  -a-a: aA(.0) !a;N
  -a-a: aA(.0) !a;N
  a: aA(.0) !a;N
  -a-a: a-a .0a a a;N
  -a-a: a-a .0a a a;N
  -a-a: a-a .0a a a;N
  -a-a: a-a .0a a a;N
  a: a-a .0a a a;N
}N
N
@-a-a a-a {N
  0% {N
    a: 0;N
    -a-a-a-a: a-a;N
  }N
  0% {}N
  0% {N
    a: 0a;N
    a: 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0;N
    -a-a-a-a: a-a;N
  }N
}N
N
@-a-a a-a {N
  0% {N
    a: 0;N
    -a-a-a-a: a-a;N
  }N
  0% {}N
  0% {N
    a: 0a;N
    a: 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a;N
    -a-a-a-a: a-a;}N
  0% {N
    a: 0;N
    -a-a-a-a: a-a;N
  }N
  0% {a: 0;N
    -a-a-a-a: a-a;N
  }N
}N
N
@a a-a {N
  0% {N
    a: 0;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a / 0a;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a: 0a;N
    a-a: 0a;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0;N
    a-a-a: a-a;N
  }N
}N
N
@-a-a a-a {N
  0% {N
    a: 0;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
}N
N
@-a-a a-a {N
  0% {N
    a: 0;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    -a-a-a-a: a-a;N
  }N
}N
N
@a a-a {N
  0% {N
    a: 0;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    a-a-a: a-a;N
  }N
  0% {N
    a: 0a;N
    a-a: -0a;N
    a: 0a;N
    a: 0a;N
    a: a(0, 0, 0, .0);N
    a-a: 0 0 0a 0a a(0, 0, 0, .0);N
    a-a: 0a / 0a;N
    a-a-a: a-a;N
  }N
}